<div class="d-flex align-items-center flex-column">
  <div class="container d-flex justify-content-center bg-light">
    <div class="p-2">
      <h3 class="fs-2">URL Shortener</h3>
    </div>
  </div>
  
  <div class="p-2">
    <div class="card border-light d-flex align-items-center flex-column" style="width: 25rem;">
      <img src="/images/link.png" class="card-img-top mw-100 p-4" alt="link image">
      <form action="/url_shorten_result" method="post" class="d-flex align-items-center flex-column">
        <div class="m-2" style="width: 20rem;">
          {{!-- <label for="exampleInputEmail1" class="form-label">Input URL here</label> --}}
          <input type="url" class="form-control border-dark" id="URLinput" name="URLsubmit" placeholder="Input URL here..." aria-describedby="URLinput" required>
        </div>
        <button type="submit" id="submit-button" class="btn btn-primary m-2">Shorten</button>
      </form>
    </div>
  </div>
</div>