<div class="d-flex flex-column mb-3">
  <div class="p-2">
    <h3>URL Shortener</h3>
  </div>
  <div class="p-2">
    <div class="card" style="width: 18rem;">
      <img src="/images/link.png" class="card-img-top" alt="...">
      <h4>Success! Please use this link:</h4>
      <a id="shortUrl" href="http://localhost:{{port}}/{{shorten}}">http://localhost:{{port}}/{{shorten}}</a>
      <button id="copyButton" type="button" class="btn btn-primary" data-bs-toggle="button">Copy</button>
    </div>
  </div>
</div>